--extra-index-url https://download.pytorch.org/whl/cu117

wheel
torch==2.0.1+cu117 
torchvision
torchaudio
torch_geometric==2.3.0
fvcore
iopath
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@stable

munch 
pandas  
omegaconf 
matplotlib 
einops 
ffmpeg
smplx 
aitviewer 
chumpy 
huepy

numpy==1.23.0
